# Node environment (development, production, test)
NODE_ENV=development
PORT=3000

# Database configuration
DATABASE_HOST=localhost
DATABASE_PORT=5433    # When running locally with docker-compose
# DATABASE_PORT=5432  # When running locally without docker-compose
DATABASE_USER=root_daemon
DATABASE_PASSWORD=justdoit
DATABASE_NAME=event_management
